#page1 {
  overflow: hidden;
  paddin-top: 15px;
}

/* Header */
#page1 header {
  padding: 75px 18% 75px 18%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
  text-align: center;
  background-color: #191919;
}
#page1 header p {
  color: #a3a3a3;
  font-size: 18px;
  margin-bottom: 25px;
}
#page1 header button {
  background-color: #2A9CD8;
  border: none;
  padding: 15px 50px 10px 50px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  -webkit-transition: 0.4s;
}
#page1 header button:hover {
  background-color: #02619a;
  transition-duration: 0.3s;
}

/* Header responsive styling */
/* Tablet */
@media only screen and (max-width: 1024px) {
  #page1 header {
    padding: 30px;
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  #page1 header {
    padding: 30px 30px 50px 30px;
  }
  #page1 header p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
    margin-bottom: 15px;
  }
  #page1 header  button {
    font-size: 18px;
  }
}

/* Row containing section title, content and info containers */
.row {
  width: 100%;
  margin-bottom: 35px;
}
/* Slider element, content + arrows */
.slider {
  position: relative;
}
/* Scroll Arrows */
.arrow {
  position: absolute;
  height: 100%;
  width: 60px;
  text-align: center;
  color: #a3a3a3;
  font-size: 22px;
  margin-top: 10px;
}
.landscape-arrow {
  padding-top: 5em;
}
.portrait-arrow {
  padding-top: 8em;
}
.left-arrow {
  top: 0px;
  left: 0px;
}
.right-arrow {
  top: 0px;
  right: 0px;
}
.arrow:hover {
  cursor: pointer;
}
/* Container table for scrollble elements */
.slider table {
  width: 100%;
}
.slider table td {
    max-width: 0;
    overflow: scroll;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}
/* Scrollable elements  */
.scroll-list {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-spacing:10px;
  margin-left: -10px;
}
.scroll-list li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #000;
  -webkit-transition: 0.2s;
}
.scroll-list li:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
}
/* Scroll elements in landscape format */
.landscape li {
  height: 15em;
}
.landscape article {
  width: 25em;
}
/* Scroll Elements in portrait format */
.portrait li {
  height: 23em;
}
.portrait article {
  width: 16em;
}
/* Information containers */
.info {
  padding: 50px 300px 50px 60px;
}
.info p {
  margin-bottom: 10px;
}
/* All content has 60px padding except arrows */
.container-padding {
  padding: 0px 60px 0px 60px;
}

/* Row tablet styling */
@media only screen and (max-width: 1024px) {
  .info {
    padding-right: 150px;
  }
}
/* Row mobile styling */
@media only screen and (max-width: 767px) {
  .arrow {
    width: 30px;
  }
  .landscape-arrow {
    padding-top: 3em;
  }
  .portrait-arrow {
    padding-top: 4.5em;
  }
  .landscape li {
    height: 9em;
  }
  .landscape article {
    width: 15em;
  }
  .portrait li {
    height: 13.8em;
  }
  .portrait article {
    width: 9.6em;
  }
  .container-padding {
    padding: 0px 30px 0px 30px;
  }
  .info {
    padding: 25px 50px 25px 30px;
  }
  .info p {
    font-size: 16px;
  }
}

/* Photos for elements */
#work-1 {
  background-image: url("https://i.imgur.com/Nf21ff7.png");
  background-size: cover;
}
#work-2 {
  background-image: url("https://i.imgur.com/yDGrKRe.png");
  background-size: cover;
}
#work-3 {
  background-image: url("https://i.imgur.com/paiyVgn.png");
  background-size: cover;
}
#stack-1 {
  background-image: url("https://i.imgur.com/dScVE6r.png");
  background-size: cover;
}
#stack-2 {
  background-image: url("https://i.imgur.com/7H66jVk.png");
  background-size: cover;
}
#stack-3 {
  background-image: url("https://i.imgur.com/Ti2Uklu.png");
  background-size: cover;
}
#stack-4 {
  background-image: url("https://i.imgur.com/158tAVP.png");
  background-size: cover;
}
#stack-5 {
  background-image: url("https://i.imgur.com/rvXpGMq.png");
  background-size: cover;
}
#skill-1 {
  background-image: url("https://i.imgur.com/6dxpFJa.png");
  background-size: cover;
}
#skill-2 {
  background-image: url("https://i.imgur.com/pCY4LWL.png");
  background-size: cover;
}
#skill-3 {
  background-image: url("https://i.imgur.com/xrV9BFl.png");
  background-size: cover;
}
