#page2 header h2 {
  font-size: 30px;
}

#about-intro {
  padding: 250px 45% 100px 50px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("assets/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
}

#about-intro h2 {

}

#about-intro h3 {
  font-size: 36px;
  margin-bottom: 15px;
}

#about-intro h4 {
  font-size: 20px;
  font-weight: 300px;
  color: #b5b5b5;
  margin-bottom: 5px;
}

#about-intro button {
  border: none;
  margin-top: 25px;
  background-color: #e0e0e0;
  color: #black;
  font-size: 20px;
  padding: 18px 50px 18px 50px;
  border-radius: 3px;
  -webkit-transition: 0.3x;
}

#about-intro p {
  font-weight: 200px;
}

#about-intro button:hover {
  background-color: white;
  transition-duration: 0.3s;
}

#about-content {
  margin: 50px 50px 100px 50px;
}

#about-content p {
  margin: 0px 45% 25px 0px;
}

#back-button {
  background-color: #303030;
  position: absolute;
  top: 150px;
  left: 50px;
  padding: 0px 25px 0px 25px;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  -webkit-transition: 0.3s;
}

a {
  color: white;
}

#back-button:hover {
  background-color: #474747;
  transition-duration: 0.3s;
}
